@import url("https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background: url("./assets/pixel-bg.png");
}

.App h1 {
  font-family: "Reenie Beanie", cursive;
  font-size: 72px;
  letter-spacing: 5px;
  margin-bottom: 1rem;
  text-align: center;
}

.main {
  display: flex;
  gap: 1rem;
}

.control-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}

.control-panel__draw-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.color-picker {
  position: absolute;
  visibility: hidden;
}

.color-picker__label {
  background: #000;
  height: 60px;
  width: 60px;
  border-radius: 50px;
  border: 2px solid #fff;
  box-shadow: 0 0 0 2px #000;
}

.resolution-slider {
  font-family: monospace;
  font-weight: 600;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.canvas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.canvas {
  display: grid;
  grid-template-columns: repeat(32, 1fr);
  grid-template-rows: repeat(32, 1fr);
  width: 500px;
  height: 500px;
  background: #fff;
  box-shadow: 0 0 2px 5px #000;
  margin-bottom: 1rem;
}

button {
  font-family: monospace;
  font-weight: 600;
  width: 200px;
  padding: 0.5rem 1rem;
  border: 2px solid #000;
  border-radius: 10px;
  background: #fff;
}

button:hover {
  background: #888;
}

.active {
  background: #333;
  color: #fff;
  border: 2px solid #fff;
  box-shadow: 0 0 0 2px #000;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 150px;
  height: 7px;
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #333;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background 0.3s ease-in-out;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

footer {
  font-family: monospace;
}
